 .center {
    margin-right: auto;
    margin-left: auto;
}

.italic {
    font-style: italic;
    text-decoration: underline;
}
body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

 h1, h4 {
    text-align: center;
    font-family: sans-serif;
    color: #FFCC66;
    border: 0;
}
p .options {
    text-align: center;
    font-family: sans-serif;
    line-height: 16pt;
    color: #FF99FF;
}
.tictactoe{
  margin:600px auto;
}

.button {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.board {
    width: 500px;
    height: 500px;
    background-color:none;
    border-spacing:0;
    margin-left: -2px;
    margin-top: -2px;
    align: center;
}
.cell{
  float:left;
  width:100px;
  height:100px;
  line-height: 100px;
}

[id*="0"],[id*="1"],[id*="2"],[id*="3"],[id*="4"],[id*="5"] {
  border-bottom:2px solid orange;
}
[id*="0"],[id*="3"],[id*="6"],[id*="1"],[id*="4"],[id*="7"] {
  border-right:2px solid orange;
}

.cell:hover{
  background-color: #FFCC66;
}

.img.cute{
  float: center;
}

.playerText{
  float:left;

}
.restart{
  float:right;
}
.x {
    background-img: url('../img/rila.gif');
    width: 100%;
    height: 100%;
    text-color: #transparent;
}
.o {
    width: 100%;
    height: 100%;
    background-img: url('../img/kori.gif');
    text-color: #transparent;
}
